%footer#footer
  .wrapper
    © 2010 - 2013 Rubyfuza —
    = link_to "Follow us on Twitter", "https://twitter.com/rubyfuza"
    |
    = link_to "Like us on Facebook", "https://facebook.com/rubyfuza"
    |
    = link_to "Join us on Lanyrd", "http://lanyrd.com/2014/rubyfuza/"
    |
    = link_to "Email us", "mailto:info@rubyfuza.org"
    %p
      Rubyfuza is dedicated to a harassment-free conference experience for everyone. Our anti-harassment policy can be found at:
      %a{href: '/coc'} rubyfuza.org/coc
    %p
      Design by
      = link_to "Siyelo", "http://siyelo.com"
      | Avatars from
      = link_to "Find Icons", "http://findicons.com/pack/1072/face_avatars"