
%header#header
  %nav#main

    .wrapper
      %ul
        %li= link_to "Home", "#"
        %li= link_to "Speakers", "#"
        %li= link_to "Venue", "#"
        %li= link_to "Sponsors", "#"
        %li= link_to "Blog", "#"

      %a{:href=>"#", :class=>"register-now"}
        Earlybird tickets are available!
        %span Register now!

  .wrapper
    %h1
      %a{:href=>"#", :alt=>"RubyFuza 2013"}
        %img{:src=>"../images/logo.png"}

    %h2
      2-3 February 2013
      %span Cape Town, South Africa

    %h3
      Africa's premier Ruby conference featuring 18 local and international speakers in a 2 day single track event.
      %span Great talks, great people and great parties!
      
    .conf= img "../images/conf.jpg"