
%header#header
  %nav#main
    %ul
      %li= link_to "Home", "#"
      %li= link_to "Speakers", "#"
      %li= link_to "Venue", "#"
      %li= link_to "Sponsors", "#"
      %li= link_to "Blog", "#"
  
  %h1= link_to "RubyFuza 2013", "#"
  %h2 2-3 February 2013 - Cape Town, South Africa
  %h3 Africa's premier Ruby conference featuring 18 local and international speakersin a 2 day single track event. Great talks, great people and great parties!