= partial('../partials/2013/header')
= partial('../partials/2013/speakers')
= partial('../partials/2013/schedule')
= partial('../partials/2013/venue')
= partial('../partials/2013/sponsors')
= partial('../partials/2013/blog')
