= partial('../partials/2014/header')
= partial('../partials/2014/speakers')
= partial('../partials/2014/schedule')
= partial('../partials/2014/workshops')
= partial('../partials/2014/venue')
= partial('../partials/2014/sponsors')
= partial('../partials/2014/blog')