= partial('../partials/header')
= partial('../partials/speakers')
/ = partial('../partials/schedule')
= partial('../partials/workshops')
= partial('../partials/venue')
= partial('../partials/sponsors')
= partial('../partials/blog')