%nav#main

  .wrapper
    %ul
      %li.js_nav_link= link_to "About", "/#about"
      %li.js_nav_link= link_to "Speakers", "/#speakers"
      / %li.js_nav_link= link_to "Schedule", "/#schedule"
      / %li.js_nav_link= link_to "Workshops", "/#workshops"
      %li.js_nav_link= link_to "Venue", "/#venue"
      %li.js_nav_link= link_to "Sponsors", "/#sponsors"
      %li.js_nav_link= link_to "Blog", "/#blog"
      %li= link_to "2013", "/2013"
      %li= link_to "2014", "/2014"
      %li#register= link_to "Register", "http://www.quicket.co.za/events/1209-rubyfuza-2013/"

    %a{:href=>"https://www.quicket.co.za/events/6934-rubyfuza-2015", :class=>"register-now"}
      %span Register now!
    / %span.register-now EARLY BIRD REGISTRATION FROM 1 SEPTEMBER
