%section#schedule
  .wrapper
    %h1.heading
      %span Schedule
    
    .timeline
      .half
        %h2
          Day One
          %span Thursday, 7 February 2013
        %ul
          %li
            %time 8:30 AM
            %p Registration
        
          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/bronson.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome
              
          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/statham.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome
            
          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/arnold.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome
            
          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/seagal.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome
            
          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/stallone.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome

          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/dolph.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome
            

      .half
        %h2
          Day One
          %span Thursday, 7 February 2013
        %ul
          %li
            %time 8:30 AM
            %p Registration
        
          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/bronson.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome
              
          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/statham.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome
            
          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/arnold.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome
            
          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/seagal.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome
            
          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/stallone.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome

          %li
            %time 9:30 AM
            %p.speaker
              = img "../images/speakers/dolph.jpg"
              Marc Heiligers
              %a{:href=>"#"} @marcheiligers
              %span Welcome
            
    .full
      %h2
        Workshops
        %span Saturday, 9 February 2013
      %ul
        %li
          %time 9:00 AM
          %p.speaker
            Marc Heiligers
            %span Welcome
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        %li
          %time 9:00 AM
          %p.speaker
            Marc Heiligers
            %span Welcome
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.