%section#schedule
  .wrapper
    %h1.heading
      %span Schedule

    .timeline
      .half
        %h2
          Day One
          %span Thursday, 7 February 2013
        %ul
          %li
            %time 8:30
            %p Registration

          %li
            %time 9:30
            %p.speaker
              = img "../images/speakers/marcheiligers.jpeg"
              Marc Heiligers
              %a{:href=>"https://twitter.com/rubyfuza"} @rubyfuza
              %span Welcome

          %li
            %time 9:40
            %p.speaker
              = img "../images/speakers/konstantin.jpg"
              Konstantin Haase
              %a{:href=>"https://twitter.com/konstantinhaase"} @konstantinhaase
              %span Ruby: Where Are You Going?

          %li
            %time 10:30
            %p.speaker
              = img "../images/speakers/johnanderson.jpg"
              John Anderson
              %a{:href=>"https://twitter.com/djellemah"} @djellemah
              %span Do It Yerself, Rube

          %li
            %time 11:00
            %p Break

          %li
            %time 11:30
            %p.speaker
              = img "../images/speakers/jessenewland.jpg"
              Jesse Newland
              %a{:href=>"https://twitter.com/jnewland"} @jnewland
              %span ChatOps at Github

          %li
            %time 12:00
            %p.speaker
              = img "../images/speakers/chris_spring.jpeg"
              Chris Spring
              %a{:href=>"https://twitter.com/autonomous"} @autonomous
              %span Rack based web apps with JRuby and TorqueBo

          %li
            %time 12:30
            %p Lightning Talks

          %li
            %time 13:00
            %p Lunch

          %li
            %time 14:00
            %p.speaker
              = img "../images/speakers/aaron_kalin.jpg"
              Aaron Kalin
              %a{:href=>"https://twitter.com/martinisoft"} @martinisoft
              %span Hey Kid! Don't Copy That Floppy!

          %li
            %time 14:30
            %p.speaker
              = img "../images/speakers/garren.jpg"
              Garren Smith
              %a{:href=>"https://twitter.com/garrensmith"} @garrensmith
              %span Developing multiple personalities to bootstrap your first product

          %li
            %time 15:00
            %p.speaker
              = img "../images/speakers/lance.jpg"
              Lance Gleason
              %a{:href=>"https://twitter.com/lgleasain"} @lgleasain
              %span Dynamic Routing With Circuit

          %li
            %time 15:30
            %p Break

          %li
            %time 16:00
            %p.speaker
              = img "../images/speakers/vicent.jpg"
              Vicent Martí
              %a{:href=>"https://twitter.com/vmg"} @vmg
              %span Unicorns Die With Bullets Made Of Glitter

          %li
            %time 16:30
            %p.speaker
              = img "../images/speakers/rory.jpg"
              Rory McKinley
              %a{:href=>"https://twitter.com/rorymckinley"} @rorymckinley
              %span Subprocesses, Threads and Fibers

          %li
            %time 17:00
            %p.speaker
              = img "../images/speakers/jacob.jpg"
              Jacob Burkhart
              %a{:href=>"https://twitter.com/beanstalksurf"} @beanstalksurf
              %span Living With Distributed Systems

          %li
            %time 13:00
            %p Drinkup

      .half
        %h2
          Day Two
          %span Friday, 8 February 2013
        %ul
          %li
            %time 8:30
            %p Arrival

          %li
            %time 9:40
            %p.speaker
              = img "../images/speakers/renee.jpg"
              Renée De Voursney
              %a{:href=>"https://twitter.com/gigglegirl4e"} @gigglegirl4e
              %span Teaching Ruby for Fun and Profit!

          %li
            %time 10:30
            %p.speaker
              = img "../images/speakers/simonstewart.jpg"
              Simon Stewart
              %a{:href=>"https://twitter.com/simonstewart"} @simonstewart
              %span How Pet Projects Can Enhance Your Career

          %li
            %time 11:00
            %p Break

          %li
            %time 11:30
            %p.speaker
              = img "../images/speakers/danishkhan.jpeg"
              Danish Kahn
              %a{:href=>"https://twitter.com/danishkhan"} @danishkhan
              %span Don't Be An A**hole

          %li
            %time 12:00
            %p.speaker
              = img "../images/speakers/stu.jpg"
              Stuart Corbishley
              %a{:href=>"https://twitter.com/stucorbishley"} @stucorbishley
              %span Abstracting a Service - A Case Study in Forward Thinking with SOA

          %li
            %time 12:30
            %p Lightning Talks

          %li
            %time 13:00
            %p Lunch

          %li
            %time 14:00
            %p.speaker
              = img "../images/speakers/terrence.jpg"
              Terrence Lee
              %a{:href=>"https://twitter.com/hone02"} @hone02
              %span `bundle install` Y U SO SLOW: Server Edition

          %li
            %time 14:30
            %p.speaker
              = img "../images/speakers/ryan.jpg"
              Ryan Lemmer
              %a{:href=>"https://twitter.com/ryanlemmer"} @ryanlemmer
              %span Side-Effects Are Not Your Friend

          %li
            %time 15:00
            %p.speaker
              = img "../images/speakers/lance.jpg"
              Luke Randall
              %a{:href=>"https://twitter.com/luke_randall"} @luke_randall
              %span CQRS

          %li
            %time 15:30
            %p Break

          %li
            %time 16:00
            %p.speaker
              = img "../images/speakers/aslam.jpg"
              Aslam Khan
              %a{:href=>"https://twitter.com/aslamkhn"} @aslamkhn
              %span Not Quite Object Oriented

          %li
            %time 16:30
            %p.speaker
              = img "../images/speakers/rory.jpg"
              Kevin McKelvin
              %a{:href=>"https://twitter.com/kmckelvin"} @kmckelvin
              %span Applying RSpec Best Practices

          %li
            %time 17:00
            %p.speaker
              = img "../images/speakers/kenneth.jpg"
              Kenneth Kalmer
              %a{:href=>"https://twitter.com/kennethkalmer"} @kennethkalmer
              %span
                Reusing your frontend JS on the server with
                %br
                The Ruby Racer and/or Ruby Rhino

          %li
            %time 13:00
            %p Leave for Dinner

    / .full
    /   %h2
    /     Workshops
    /     %span Saturday, 9 February 2013
    /   %ul
    /     %li
    /       %time 9:00
    /       %p.speaker
    /         Marc Heiligers
    /         %span Welcome
    /       %p Lorem ipsum dolor sitet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sitet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    /     %li
    /       %time 9:00
    /       %p.speaker
    /         Marc Heiligers
    /         %span Welcome
    /       %p Lorem ipsum dolor sitet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.