%section#schedule
  .wrapper
    %h1.heading
      %span Schedule

    .timeline
      .half
        %h2
          Day One
          %span Thursday, 6 February 2013
        %ul
          %li
            %time 8:30
            %p Registration

          %li
            %time 9:30
            %p.speaker
              = img "../images/speakers/marcheiligers.jpeg"
              Marc Heiligers
              %a{:href=>"https://twitter.com/rubyfuza"} @rubyfuza
              %span Welcome

          %li
            %time 9:40
            %p.speaker
              = img "../images/speakers/charlene.jpg"
              Charlene Tshitoka
              %a{:href=>"https://twitter.com/charlymul"} @charlymul
              %span Software Development in Africa

          %li
            %time 10:30
            %p.speaker
              = img "../images/speakers/ben.JPG"
              Ben Janecke
              / %a{:href=>"https://twitter.com/djellemah"} @djellemah
              %span Ping Ping or: How I learned to stop worrying and love remote paring

          %li
            %time 11:00
            %p Break

          %li
            %time 11:30
            %p.speaker
              = img "../images/speakers/rory.jpg"
              Rory McKinley
              %a{:href=>"https://twitter.com/rorymckinley"} @rorymckinley
              %span TDD: When the thrill has gone

          %li
            %time 12:00
            %p.speaker
              = img "../images/speakers/murtuza.JPG"
              Murtuza Kutub
              %a{:href=>"https://twitter.com/murtazz"} @murtazz
              %span The Ultimate Refactoring Cheat Sheet

          %li
            %time 12:30
            %p Lightning Talks

          %li
            %time 13:00
            %p Lunch

          %li
            %time 14:00
            %p.speaker
              = img "../images/speakers/johnanderson.jpg"
              John Anderson
              %a{:href=>"https://twitter.com/djellemah"} @djellemah
              %span What is an object, really?

          %li
            %time 14:30
            %p.speaker
              = img "../images/speakers/alex.jpg"
              Alex Coles
              %a{:href=>"https://twitter.com/myabc"} @myabc
              %span Find Simplicity With Plain Old Ruby Objects

          %li
            %time 15:00
            %p.speaker
              = img "../images/speakers/marie.jpg"
              Marié Whittington
              %a{:href=>"https://twitter.com/mariebeetge"} @mariebeetge
              %span Designing in a Rails Company

          %li
            %time 15:30
            %p Break

          %li
            %time 16:00
            %p.speaker
              = img "../images/speakers/Robert_Stuttaford.JPG"
              Robert Stuttaford
              %a{:href=>"https://twitter.com/RobStuttaford"} @RobStuttaford
              %span Immutable Data...base?

          %li
            %time 16:30
            %p.speaker
              = img "../images/speakers/danieroux.jpg"
              Danie Roux
              %a{:href=>"https://twitter.com/danieroux"} @danieroux
              %span Persistent data structures - good for UI

          %li
            %time 17:00
            %p.speaker
              = img "../images/speakers/daniel.jpg"
              Daniel Schierbeck
              %a{:href=>"https://twitter.com/dasch"} @dasch
              %span Curly — Refactoring the view layer

          %li
            %time 17:30
            %p Drinkup

      .half
        %h2
          Day Two
          %span Friday, 7 February 2013
        %ul
          %li
            %time 8:30
            %p Arrival

          %li
            %time 9:40
            %p.speaker
              = img "../images/speakers/tania.jpg"
              Tania van Wyk de Vries
              / %a{:href=>"https://twitter.com/gigglegirl4e"} @gigglegirl4e
              %span Ruby on Microsoft Azure

          %li
            %time 10:30
            %p.speaker
              = img "../images/speakers/lance.jpg"
              Lance Gleason
              %a{:href=>"https://twitter.com/lgleasain"} @lgleasain
              %span Analytics for the Busy Ruby Developer

          %li
            %time 11:00
            %p Break

          %li
            %time 11:30
            %p.speaker
              = img "../images/speakers/mmongeau.jpg"
              Matthew Mongeau
              %a{:href=>"https://twitter.com/danishkhan"} @halogenandtoast
              %span The Art of Ruby

          %li
            %time 12:00
            %p.speaker
              = img "../images/speakers/kevin.jpg"
              Kevin McKelvin
              %a{:href=>"https://twitter.com/kmckelvin"} @kmckelvin
              %span Clean Code: Applying Object Oriented Principles

          %li
            %time 12:30
            %p Lightning Talks

          %li
            %time 13:00
            %p Lunch

          %li
            %time 14:00
            %p.speaker
              = img "../images/speakers/andre.jpg"
              André Arko
              %a{:href=>"https://twitter.com/indirect"} @indirect
              %span Extreme Makeover: Rubygems Edition

          %li
            %time 14:30
            %p.speaker
              = img "../images/speakers/simon.jpg"
              Simon van Dyk
              %a{:href=>"https://twitter.com/siefi"} @siefi
              %span The Birds &amp; The Bees

          %li
            %time 15:00
            %p.speaker
              = img "../images/speakers/sallylehman.jpg"
              Sally Lehman
              %a{:href=>"https://twitter.com/SllyLhmn"} @SllyLhmn
              %span Email Delivery for Rails Folks (or 'How to send lots of email and not look like spam')

          %li
            %time 15:30
            %p Break

          %li
            %time 16:00
            %p.speaker
              = img "../images/speakers/nelson.jpg"
              Nelson Pascoal
              %a{:href=>"https://twitter.com/foomip"} @foomip
              %span Rubymotion - iOS and OSX development from a Ruby developer's perspective

          %li
            %time 16:30
            %p.speaker
              = img "../images/speakers/richard.jpg"
              Richard Cochrane
              / %a{:href=>"https://twitter.com/kmckelvin"} @kmckelvin
              %span Debugging in Ruby on Rails

          %li
            %time 17:00
            %p.speaker
              = img "../images/speakers/zachary.jpg"
              Zachary Scott
              %a{:href=>"https://twitter.com/_zzak"} @_zzak
              %span
                Contributing to Ruby

          %li
            %time 17:30
            %p Leave for Dinner

    / .full
    /   %h2
    /     Download the
    /     %a{:href=>"https://dl.dropbox.com/u/16854658/Rubyfuza/program.pdf"} Program Guide
    /     (pdf, 2.3MB)
