%section#speakers
  .wrapper
    %h1.heading
      %a{:name=>"speakers"}
      %span Speakers
    %ul
      %li
        .rounded
          = img "../images/speakers/konstantin.jpg"
        %a{:href=>"https://twitter.com/konstantinhaase", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"https://github.com/rkh", :class=>"github"}= img "../images/github.png"
        %h2 Konstantin Haase
        %p Ruby: Where Are You Going?
      %li
        .rounded
          = img "../images/speakers/danishkhan.jpeg"
        %a{:href=>"https://twitter.com/danishkhan", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"https://github.com/danishkhan", :class=>"github"}= img "../images/github.png"
        %h2 Danish Khan
        %p Don't Be an A**hole
      %li
        .rounded
          = img "../images/speakers/aaron_kalin.jpg"
        %a{:href=>"https://twitter.com/martinisoft", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"https://github.com/martinisoft", :class=>"github"}= img "../images/github.png"
        %h2 Aaron Kalin
        %p Hey Kid! Don't Copy That Floppy!
      %li
        .rounded
          = img "../images/speakers/chris_spring.jpeg"
        %a{:href=>"https://twitter.com/autonomous", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"https://github.com/autonomous", :class=>"github"}= img "../images/github.png"
        %h2 Chris Spring
        %p Rack based web apps with JRuby and TorqueBox
      %li
        .rounded
          = img "../images/speakers/lance.png"
        %a{:href=>"https://twitter.com/lgleasain", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"https://github.com/lgleasain", :class=>"github"}= img "../images/github.png"
        %h2 Lance Gleason
        %p Dynamic Routing with Circuit
      %li
        .rounded
          = img "../images/speakers/johnanderson.png"
        %a{:href=>"https://twitter.com/djellemah", :class=>"twitter"}= img "../images/twitter.png"
        / %a{:href=>"#", :class=>"github"}= img "../images/github.png"
        %h2 John Anderson
        %p Do it yerself, Rube
      %li
        .rounded
          = img "../images/speakers/jessenewland.jpg"
        %a{:href=>"#", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"#", :class=>"github"}= img "../images/github.png"
        %h2 Jesse Newland
        %p ChatOps at GitHub
      %li.you
        .rounded
          %a{:href=>"http://rubyfuza.wufoo.com/forms/rubyfuza-2013-talk-proposal/"}= img "../images/speakers/you.png"
        %h2 You?
        %p
          We're still looking for inspiring speakers!
          = link_to "I want to speak", "http://rubyfuza.wufoo.com/forms/rubyfuza-2013-talk-proposal/", :class => "hot"