%section#speakers
  .wrapper
    %h1.heading
      %a{:name=>"speakers"}
      %span Speakers

    %ul
      %li.speaker
        .rounded
          %a{href: '#speaker1', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/konstantin.jpg"
          %a{:href=>"https://twitter.com/konstantinhaase", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/rkh", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker1', rel: 'speakers', class: 'fancybox'} Konstantin Haase
        %p Ruby: Where Are You Going?

        #speaker1.detail
          .links.right
            %a{:href=>"https://twitter.com/konstantinhaase", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/rkh", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/konstantin.jpg"
            %h2 Konstantin Haase
          .inner
            %p OSS developer. Conference-goer. Maintainer of @Sinatra, full time dev on @TravisCI, was full time on @Rubinius, core team member of Rack, Tilt and many more.
            %h3 Ruby: Where Are You Going?
            %p A look at the past, present and future of web development in Ruby. How does Rails work internally? What is going to happen in Rails 4? What are the plans for Sinatra? Right now, there are at least two replacements for Rack in the makings. But it is the underlying technology used by Rails, Sinatra and nearly any other Ruby web framework out there. Yet, it's the framework authors pushing for the changes. So, what's wrong with Rack? And what does that mean for us as web developers?

      %li.speaker
        .rounded
          %a{href: '#speaker2', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/renee.jpg"
          %a{:href=>"https://twitter.com/gigglegirl4e", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/reneedv", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker2', rel: 'speakers', class: 'fancybox'} Renée De Voursney
        %p Teaching Ruby for Fun and Profit!

        #speaker2.detail
          .links.right
            %a{:href=>"https://twitter.com/gigglegirl4e", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/reneedv", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/renee.jpg"
            %h2 Renée De Voursney
          .inner
            %p Renée is the Chief Adventure Officer at a small RoR consultancy in Seattle WA USA called NIRD: Northwest Independent Ruby Development. She has been teaching Ruby, Rails, and everything else for the last couple of years to new programmers, experienced programmers, and sometimes to both at the same time! She is teaching the Ruby section of the University of Washington's Ruby on Rails Certificate program, and does RailsBridge workshops whenever she can. Her corporate trainings and paying clients take up the rest of the time that she's not traveling the world to speak at really cool conferences in really cool places!
            %h3 Teaching Ruby for Fun and Profit!
            %p How many companies are hiring Ruby developers right now? How many are finding qualified candidates? Why aren't workers swarming into our industry to fill up all these empty developer positions? Is learning Ruby really that hard? Why is learning Ruby so hard? Isn't it a language built by people for people? Shouldn't that be easy for anyone to pickup and use? Why isn't everyone building Ruby apps? I'm going to tell you. The good, the bad, and the goofy of trying to teach Ruby, Rails, and everything else we take for granted as RoR developers. There may even be a guest appearance from a real life Ruby Newbie to demonstrate!

      %li.speaker
        .rounded
          %a{href: '#speaker3', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/danishkhan.jpeg"
          %a{:href=>"https://twitter.com/danishkhan", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/danishkhan", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker3', rel: 'speakers', class: 'fancybox'} Danish Khan
        %p Don't Be an A**hole

        #speaker3.detail
          .links.right
            %a{:href=>"https://twitter.com/danishkhan", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/danishkhan", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/danishkhan.jpeg"
            %h2 Danish Khan
          .inner
            %p I realized I wanted to learn practical programming skills so once I found out about Ruby in college I immediately installed Locomotive on my Mac. Was extremely excited to find out I already had Ruby 1.8.6 preinstalled on my iBook G4 and started hacking on my first Rails project. I find teaching to be enjoyable and have been participating in the SF RailsBridge every so often. I'm still a level 1 whiskey/whisky drinker, but I'm working on that. Currently I am working at GitHub doing cool stuff.
            %h3 Don't Be an A**hole
            %p Ruby is now 18 years old. It has become a very mature project and the developers that have been using it are a lot more mature now as well. Our community has long since crossed the chasm and we are in the early majority stage. This means that even though we have many people who are well versed in the language we are again having an influx of new people. I want to help those new people feel comfortable enough to believe they can learn and become just as mature as the oldies who are part of the community. Also, I want to educate the oldies on how they can better help out these newbies.
            %p The Ruby community has become very much like any other close-knit community. We are very biased towards certain philosophies such as agile development, pair programming, and TDD. Some might compare our community to other close-knit organizations such as fraternities/sororities, athletic clubs and the freemasons. They all have very idealistic philosophies they run their organizations on. I want to show how we compare to these types of organizations. I want to highlight the good things we adopted from running our community this way as well as the bad. I want to show how we can improve and fix the bad habits so that we can create a more open community for new people to join and feel welcomed.

      %li.speaker
        .rounded
          %a{href: '#speaker4', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/aaron_kalin.jpg"
          %a{:href=>"https://twitter.com/martinisoft", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/martinisoft", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker4', rel: 'speakers', class: 'fancybox'} Aaron Kalin
        %p Hey Kid! Don't Copy That Floppy!

        #speaker4.detail
          .links.right
            %a{:href=>"https://twitter.com/martinisoft", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/martinisoft", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/aaron_kalin.jpg"
            %h2 Aaron Kalin
          .inner
            %p Aaron Kalin is a developer for Treehouse hailing from Chicago and has been programming for over 15 years. At night you'll find him hacking on game servers or experimenting with other programming languages. He's passionate about solving problems and enjoys giving back as much as possible. You'll sometimes find him dressed as a Stormtrooper to raise money for charity or cheering up sick kids in hospitals.
            %h3 Hey Kid! Don't Copy That Floppy!
            %p Software licensing sets up rules for everyone to follow when contributing or using code. Some companies have specific policies on what types of licenses are compatible with their code base. Other companies put rules on their developers on how they're allowed to contribute code to software. Do you license your software? This talk will review some popular open source software licenses and considerations you should make before contributing code. It's good to be aware of these rules before you end up on the wrong side of a Cease and Desist order.

      %li.speaker
        .rounded
          %a{href: '#speaker5', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/chris_spring.jpeg"
          %a{:href=>"https://twitter.com/autonomous", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/autonomous", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker5', rel: 'speakers', class: 'fancybox'} Chris Spring
        %p Rack based web apps with JRuby and TorqueBox

        #speaker5.detail
          .links.right
            %a{:href=>"https://twitter.com/autonomous", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/autonomous", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/chris_spring.jpeg"
            %h2 Chris Spring
          .inner
            %p Chris works at Mad Mimi where he spends his days toiling over features, scaling and performance. He's also actively involved in growing the local dev community and is the founder and organiser of Code&Coffee Jhb, as well as an organiser of RubyOnBeer
            %h3 Rack based web apps with JRuby and TorqueBox
            %p JRuby runs on the JVM to bring high levels of performance and parallelism to your long running ruby code. TorqueBox is a performant and scaleable application server that reduces the complexity and dependencies of rack based web applications. See how these two tools can be used to simplify your ruby web development while delivering excellent performance under heavy loads with some real world examples.

      %li.speaker
        .rounded
          %a{href: '#speaker6', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/lance.jpg"
          %a{:href=>"https://twitter.com/lgleasain", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/lgleasain", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker6', rel: 'speakers', class: 'fancybox'} Lance Gleason
        %p Dynamic Routing with Circuit

        #speaker6.detail
          .links.right
            %a{:href=>"https://twitter.com/lgleasain", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/lgleasain", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/lance.jpg"
            %h2 Lance Gleason
          .inner
            %p Lance has been a computer nut ever since his dad bought him a VIC 20 in the 80's. For a number of years he was working in Java for large companies such as CNN, Kodak and GE. Then one day about four years ago he did a self intervention and decided to end his addiction to heavy inheritance, static typing and coding without tests. These days he a committer on projects such as Adhearsion practicing clean Ruby living with lots of well-tested code, class composition and fun dynamic languages as a startup CTO and freelance developer. When he's not writing Ruby you will find him diving with sharks, trekking through a rain forest, wine tasting or freaking out his neighbors with his ARDrone.
            %h3 Dynamic Routing with Circuit
            %p Rails and Rack both have mechanisms to route requests. They are powerful, and offer some dynamic routing if you want to route within Rails. But what if you need to dynamically route requests to multiple Rack based applications? What if you want to control that routing dynamically with a database? Circuit allows you to do that. In this talk will explore the basics of Rack Middleware and Routing. Then we will show you how Circuit can help you to take Rack routing to the next level dynamically with lots of traffic.

      %li.speaker
        .rounded
          %a{href: '#speaker7', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/johnanderson.jpg"
          %a{:href=>"https://twitter.com/djellemah", :class=>"twitter"}= img "../images/twitter.png"
          / %a{:href=>"#", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker7', rel: 'speakers', class: 'fancybox'} John Anderson
        %p Do It Yerself, Rube

        #speaker7.detail
          .links.right
            %a{:href=>"https://twitter.com/djellemah", :class=>"twitter"}= img "../images/twitter.png"
            / %a{:href=>"#", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/johnanderson.jpg"
            %h2 John Anderson
          .inner
            %p Ruby since 2004. Rails since 2005. Programming since 1994. Or 1989. Or was it 1983? I forget...
            %h3 Do It Yerself, Rube
            %p Abstraction is like alcohol: a little is nice; a little more is a little nicer. A lot is a headache. Is it really worth writing one line when you can write 3? Or 8? As a consumer, when is finding the right gem harder than just writing it yourself? Some examples of over-gemmification and a few lines of code that do what you need. As a producer, what does it take to get your code ready to be released as a gem? It's turtles all the way down. Unless you make some assumptions for them to stand on.

      %li.speaker
        .rounded
          %a{href: '#speaker8', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/jessenewland.jpg"
          %a{:href=>"https://twitter.com/jnewland", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/jnewland", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker8', rel: 'speakers', class: 'fancybox'} Jesse Newland
        %p ChatOps at GitHub

        #speaker8.detail
          .links.right
            %a{:href=>"https://twitter.com/jnewland", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/jnewland", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/jessenewland.jpg"
            %h2 Jesse Newland
          .inner
            %p Jesse Newland does Ops at GitHub. Prior to GitHub, Jesse was the CTO at Rails Machine. There, he hacked on a large private cloud while managing, scaling and tuning several hundred production Ruby on Rails applications. He lives in Savannah, Georgia, and plays guitar and piano for fun.
            %h3 ChatOps at GitHub
            %p Hubot, GitHub's open source chat bot, is completely revolutionizing how we do ops at GitHub. Automating deployment, graphing, monitoring, provisioning, tweeting, and many other things with Hubot has enabled and enhanced our culture of remote work. We're standardizing how we interact with the applications and servers that run GitHub by continuously expanding our library of Hubot commands that any GitHubber can run in multiple Campfire chat rooms. Interacting with Hubot in the middle other of conversations has increased our awareness of what other GitHubbers are working on and the speed at which new team members learn common practices. In this talk, I'll give examples of how we deploy and interact with github.com via Hubot, describe benefits we've seen from this approach, and describe how you can bring ChatOps into your daily workflow.

      %li.speaker
        .rounded
          %a{href: '#speaker9', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/simonstewart.jpg"
          %a{:href=>"https://www.twitter.com/SimonStewart", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://www.github.com/simonstewart", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker9', rel: 'speakers', class: 'fancybox'} Simon Stewart
        %p How pet projects can enhance your career

        #speaker9.detail
          .links.right
            %a{:href=>"https://www.twitter.com/SimonStewart", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://www.github.com/simonstewart", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/simonstewart.jpg"
            %h2 Simon Stewart
          .inner
            %p I'm the founder of FindFreeWiFi.co.za, JSinSA tech conferences, Broken Keyboards Software and others.
            %p My claim to fame is I was once in a movie with Joe Penny (yes, the 80's star of Riptide), but it involved flying unicorns (yes, seriously) and child stars so I'd prefer if it wasn't mentioned.
            %p Perpetually pursuing Mindfulness and I have a growing intolerance of corporate mediocrity.
            %h3 How pet projects can enhance your career
            %p We all know what pet projects are, but so few companies and individuals are leveraging off their great opportunity.
            %p This talks illustrates the benefits of having pet projects; how to fit them into your daily workload; why you should have them and how they can improve your career.
            %p In the end, it's all about having fun and making you happier :-)

      %li.speaker
        .rounded
          %a{href: '#speaker10', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/rory.jpg", :class => 'bg'
          %a{:href=>"https://twitter.com/rorymckinley", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/rorymckinley", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker10', rel: 'speakers', class: 'fancybox'} Rory McKinley
        %p Subprocesses, Threads and Fibers

        #speaker10.detail
          .links.right
            %a{:href=>"https://twitter.com/rorymckinley", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/rorymckinley", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/rory.jpg"
            %h2 Rory McKinley
          .inner
            %p Rory is a developer at Hetzner. He works mostly with Ruby and sometimes with PHP. He is hoping to get promoted to Chaos Monkey in the next year or two. His hobby is learning how to say "It's not my fault!" in all 11 official languages.
            %h3 Subprocesses, Threads and Fibers
            %p A brief presentation covering the primary mechanisms for achieving concurrency in Ruby. The differences and similarities of each will be touched on. At the end you may be lucky enough to understand which mechanism to use when (if you do, please be so kind as to explain it to the presenter :) ).

      %li.speaker
        .rounded
          %a{href: '#speaker11', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/kenneth.jpg", :class => 'bg'
          %a{:href=>"https://twitter.com/kennethkalmer", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/kennethkalmer", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker11', rel: 'speakers', class: 'fancybox'} Kenneth Kalmer
        %p Reusing your frontend JS on the server with The Ruby Racer and/or Ruby Rhino

        #speaker11.detail
          .links.right
            %a{:href=>"https://twitter.com/kennethkalmer", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/kennethkalmer", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/kenneth.jpg"
            %h2 Kenneth Kalmer
          .inner
            %p Performing regular wizardry through open source software
            %h3 Reusing your frontend JS on the server with The Ruby Racer and/or Ruby Rhino
            %p Writing modern web applications requires a ton of JS, and somewhere in that JS lies some application logic (we're not just talking DOM manipulations here). If you require that same logic on the server-side for say, generating reports, what do you do? I'll show you how ValuationUP.com pushes the single responsibility principle to the max by "embedding" V8 into our report generation code so the same JS that powers our Backbone.js frontend powers our PDF's generated by Prawn.
            %p Thin wrappers, no duplication, practical IoC, ultimate SRP.

      %li.speaker
        .rounded
          %a{href: '#speaker12', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/vicent.jpg", :class => 'bg'
          %a{:href=>"https://twitter.com/vmg", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/vmg", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker12', rel: 'speakers', class: 'fancybox'} Vicent Martí
        %p Unicorns die with bullets made of glitter

        #speaker12.detail
          .links.right
            %a{:href=>"https://twitter.com/vmg", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/vmg", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/vicent.jpg"
            %h2 Vicent Martí
          .inner
            %p Vicent Martí used to make videogames, but he sold out because he likes to wear expensive clothes. Or any clothes at all. He now works full time as a systems engineer at GitHub, focusing on security and performance issues on the backend. He's also the maintainer of libgit2, the Git library that powers GitHub's backend and native clients. He takes long showers because he enjoys smelling nice.
            %h3 Unicorns die with bullets made of glitter
            %p This talk is about more than Unicorns. This is a scary talk about scary Ruby internals. Disregard the Unicorns, actually. There's a lot going on under the hood in MRI, YARV and Rubinius. The C and C++ layer that interacts with the OS is a tangly mess full of tricky bugs and arcane issues; the kind of issues that don't raise exceptions, but kill whole processes and make them bleed rainbows. Every time one of these "glitter bullets" kills a Ruby process, I shed a small tear: This is a talk about how we discover, tackle and fix these kind of issues at GitHub, to ensure our servers are always up and serving requests.

      %li.speaker
        .rounded
          %a{href: '#speaker13', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/garren.jpg", :class => 'bg'
          %a{:href=>"https://twitter.com/garrensmith", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/garrensmith", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker13', rel: 'speakers', class: 'fancybox'} Garren Smith
        %p Developing multiple personalities to bootstrap your first product

        #speaker13.detail
          .links.right
            %a{:href=>"https://twitter.com/garrensmith", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/garrensmith", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/garren.jpg"
            %h2 Garren Smith
          .inner
            %p Garren is the founder of Red Comet Labs. He has bootstrapped his first product, Classroom 7, a learning management system for trainers. Garren spends most his time programming in Ruby and Javascript. He enjoys dabbling in other languages like Go and Erlang. Garren plays Bass guitar, tennis and is trying to get through the whole Wheel of Time series in his spare time.
            %h3 Developing multiple personalities to bootstrap your first product
            %p Ready, set, launch, (...crickets...). The tale of many a developer-turned-product-launcher, including me. But after a false start, I launched Classroom 7, a learning management system for trainers, which is now well on its way to paying the bills. Bootstrapping a product requires a bit of a multiple personality disorder - you’ve got to be a dreamer, engineer, critic, bank manager and sales exec all rolled into one. In this talk I'll share some of the lessons I've learned during the product launching journey and talk about some of the pitfalls that should be avoided when launching a product. Everyone has the ability to bootstrap a successful product, you've just got to start out right. This talk will set you on the right path.

      %li.speaker
        .rounded
          %a{href: '#speaker14', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/kevin.jpg", :class => 'bg'
          %a{:href=>"https://twitter.com/kmckelvin", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/kmckelvin", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker14', rel: 'speakers', class: 'fancybox'} Kevin McKelvin
        %p Applying RSpec Best Practices

        #speaker14.detail
          .links.right
            %a{:href=>"https://twitter.com/kmckelvin", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/kmckelvin", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/kevin.jpg"
            %h2 Kevin McKelvin
          .inner
            %p Kevin is a Ruby on Rails developer at Platform45. He began his career as a C# developer, but made the switch to Ruby in 2011 and hasn't looked back since. He has strange obsessions with vim, code quality and guitars.
            %h3 Applying RSpec Best Practices
            %p We all agree that tests are important. As a developer, coming into a new project with good tests makes you immediately feel more confident about making changes. But how do we ensure that our test suite consistently adds that value over a long project? We're going to look at best practices using RSpec and how applying a few simple rules and best practices can improve the overall quality of your application.

      %li.speaker
        .rounded
          %a{href: '#speaker15', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/ryan.jpg", :class => 'bg'
          %a{:href=>"https://twitter.com/ryanlemmer", :class=>"twitter"}= img "../images/twitter.png"
          / %a{:href=>"https://github.com/ryanlemmer", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker15', rel: 'speakers', class: 'fancybox'} Ryan Lemmer
        %p Side-effects are not your friend

        #speaker15.detail
          .links.right
            %a{:href=>"https://twitter.com/ryanlemmer", :class=>"twitter"}= img "../images/twitter.png"
            / %a{:href=>"https://github.com/ryanlemmer", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/ryan.jpg"
            %h2 Ryan Lemmer
          .inner
            %p Ryan is a Cape Town based software maker and coach.
            %p He made very good friends with Ruby back in mid-noughties. Since then he's been exploring functional programming, and is starting to see what all the fuss is about.
            %p Ryan loves to learn and to stoke the flame of learning in others.
            %h3 Side-effects are not your friend
            %p Functional Programming is more than a set of language features. It's a style of thinking, a way of doing things.
            %p Ruby gives us access to some aspects of the Functional style through lambdas, blocks, procs, and array iterators.
            %p But the most profound way in which Functional thinking can change your Ruby day comes down to a core issue of Functional Programming: "side-effects". Ruby places no restriction on leaving side-effects - it comes down to the choice (and then discipline) of the Rubyist to refrain from doing so.
            %p Side-effect-free code is more easily testable, and more predictable than side-effect-ridden code.
            %p In this talk I'll show you some of the many ways in which side-effects cause you pain and suffering, and techniques and strategies of leaving less of them in your wake.

      %li.you
        .rounded
          %a{:href=>"http://rubyfuza.wufoo.com/forms/rubyfuza-2013-talk-proposal/"}= img "../images/speakers/you.png"
        %h2 You?
        %p
          We're still looking for inspiring speakers!
          = link_to "I want to speak", "http://rubyfuza.wufoo.com/forms/rubyfuza-2013-talk-proposal/", :class => "hot"
