%section#speakers
  .wrapper
    %h1.heading
      %a{:name=>"speakers"}
      %span Speakers
    %ul
      %li
        .rounded
          = img "../images/speakers/dolph.jpg"
        %a{:href=>"#", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"#", :class=>"github"}= img "../images/github.png"
        %h2 Dolph Lundgren
        %p What Rubyists should steal from Haskell and Clojure
      %li
        .rounded
          = img "../images/speakers/bronson.jpg"
        %a{:href=>"#", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"#", :class=>"github"}= img "../images/github.png"
        %h2 Charles Bronson
        %p What Rubyists should steal from Haskell and Clojure
      %li
        .rounded
          = img "../images/speakers/arnold.jpg"
        %a{:href=>"#", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"#", :class=>"github"}= img "../images/github.png"
        %h2 Arnold Schwarzenegger
        %p What Rubyists should steal from Haskell and Clojure
      %li
        .rounded
          = img "../images/speakers/rourke.jpg"
        %a{:href=>"#", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"#", :class=>"github"}= img "../images/github.png"
        %h2 Mickey Rourke
        %p What Rubyists should steal from Haskell and Clojure
      %li
        .rounded
          = img "../images/speakers/seagal.jpg"
        %a{:href=>"#", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"#", :class=>"github"}= img "../images/github.png"
        %h2 Steven Seagal
        %p What Rubyists should steal from Haskell and Clojure
      %li
        .rounded
          = img "../images/speakers/stallone.jpg"
        %a{:href=>"#", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"#", :class=>"github"}= img "../images/github.png"
        %h2 Silvester Stallone
        %p What Rubyists should steal from Haskell and Clojure
      %li
        .rounded
          = img "../images/speakers/statham.jpg"
        %a{:href=>"#", :class=>"twitter"}= img "../images/twitter.png"
        %a{:href=>"#", :class=>"github"}= img "../images/github.png"
        %h2 Jason Statham
        %p What Rubyists should steal from Haskell and Clojure
      %li.you
        .rounded
          = img "../images/speakers/norris.jpg"
        %h2 You?
        %p
          We're still looking for inspiring speakers!
          = link_to "I want to speak", "#"