%section#speakers
  .wrapper
    %h1.heading
      %a{:name=>"speakers"}
      %span Speakers

    %ul
      %li.speaker
        .rounded
          %a{href: '#speaker1', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/speaker1.png"
          %a{:href=>"https://twitter.com/twitterhandle", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/githubcreds", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: '#speaker1', rel: 'speakers', class: 'fancybox'} Your name.
        %p Your talks name.

        #speaker1.detail
          .links.right
            %a{:href=>"https://twitter.com/twitterhandle", :class=>"twitter"}= img "../images/twitter.png"
            %a{:href=>"https://github.com/githubcreds", :class=>"github"}= img "../images/github.png"
          .name
            = img "../images/speakers/speaker1.png"
            %h2 Your name.
          .inner
            %p Your biography will be right here!
            %h3 Your talks name.
            %p Everyone is going to be pumped for this!
            %p Even more about your awesome talk.



    %div.clearfix
    = partial('../partials/signup')
    /   %div.center
    /     %h2 You?
    /     %p
    /       We're looking for Lightning Talks!
    /       %br
    /       = link_to "I want to speak", "http://rubyfuza.wufoo.com/forms/rubyfuza-2013-lightning-talk-proposal/", :class => "hot"
