%section#workshops
  .wrapper
    %h1.heading
      %a{:name=>"workshops"}
      %span Workshops

    %ul
      %li{style: 'width: 15.5%'}

      %li.workshop
        %h2
          %a{href: '#workshop1', rel: 'workshops', class: 'fancybox'} RailsBridge
        %p An Introductory Ruby on Rails Workshop
        %p.date Fri, 31 Jan &mdash; Sat, 1 Feb

        #workshop1.workshop.detail
          .name
            %h2 RailsBridge
            %p The RailsBridge Workshop is a free one-and-a-bit day course run by a volunteer team of experienced and enthusiastic developers. It aims to promote diversity in the software industry by providing an accessible starting point to those interested in coding. The course covers an introduction to programming concepts, the available tools, and Ruby and Rails development techniques. It teaches practical skills useful to those investigating new career paths, looking to compliment their current skill set, or simply interested in gaining a better understanding of software.
          %h3.join
            %a{href: 'http://www.meetup.com/Rubyfuza/events/158384112/'} Join this workshop!
            &nbsp;&bull;&nbsp;
            %a{href: 'http://railsbridgecapetown.org/'} Learn more

          .inner
            .name
              = img "../images/speakers/stevebarnett.jpg"
              %h3 Steve Barnett
            %p Steve Barnett has a background in Maths and finance and started work as a Front End Developer in 2005, escaping to South Africa from his native England. He started at Unboxed Consulting in November 2012, and he’s most interested in the multi-device world and making the web accessible to all. You can find him at naga.co.za or on Twitter as @maxbarners.

      %li.workshop
        %h2
          %a{href: '#workshop2', rel: 'workshops', class: 'fancybox'} Amazon AWS
        %p Using Amazon AWS from Ruby
        %p.date Sat, 1 Feb

        #workshop2.workshop.detail
          .name
            %h2 Amazon AWS
          .inner
            %p Charlene is a developer who has recently started questioning whether there is really such a thing called devops. Between working with configuration management tools and orchestration frameworks, she has discovered there is a ruby community out there. Charlene has been trying to infiltrate it since then.  She is currently part of the ThoughtWorks team.
            %h3 Software Development in Africa
            %p Software development has gone through many upheavals and downhills to what it is currently. Still, it remains an impressive creation that is changing the lifestyles of many. Africa, on the other side, has a history that is yet to fully captivate many of its own people. So what could “software development” and “Africa” be doing in the same phrase?
            %p Being passionate about code and enjoying a love-hate relationship with my continent, I will share how these words resonate with me. I will discuss some of the achievements and also challenges of developing software in Africa, my fears and hopes too. Let’s have a conversation on what these words mean for us; software development and Africa put together.

      %li.workshop
        %h2
          %a{href: '#workshop3', rel: 'workshops', class: 'fancybox'} Functional Programming
        %p An Introduction to Functional Programming for Ruby Developers
        %p.date Sat, 8 Feb

        #workshop3.workshop.detail
          .name
            %h2 An Introduction to Functional Programming for Ruby Developers
            %p There is a lot of buzz and hype around functional programming at the moment.  Many claiming it is the only way to scale and write safe code in our multi-core world.  Some of it is true and some of it is hype.  What I've learnt is that functional programming makes us better object oriented developers.  On more than one occasion, FP has offered us a cleaner, sweeter solutions to non-trivial problems.  In this workshop, we will give a hands-on introduction to the main themes of FP, cutting through the hype, favouring practice over theory.  We will play with a few languages like Clojure, Scala, JavaScript (yes!) and maybe Haskell or F# too.  So bring your laptop along and join in.
          %h3.join
            %a{href: 'http://www.meetup.com/Rubyfuza/events/158373392/'} Join this workshop!
          .inner
            .name
              = img "../images/speakers/aslam.jpg"
              %h3 Aslam Khan
            %p
              Aslam Khan is a software developer for more years than South Africa is a democracy.  He believes that all of software is just design and values code as an expression of design. And the same goes for architecture too - it's all design.  The one thing he has learnt, though, is that design is hard, very hard.  As developers we need thinking tools, and different paradigms gives us that diversity, hence his interest in functional programming.  He is currently writing a book on functional programming for Manning.  If that doesn't bore you, then try his blog at
              %a{href: 'http://f3yourmind.net'} http://f3yourmind.net
              \.
            .name
              = img "../images/speakers/ryan.jpg"
              %h3 Ryan Lemmer
            %p
              Ryan Lemmer is a Cape Town based software developer. He believes that achieving the "soft" in software is the hardest part, that is, to make code that is pliable enough to withstand relentless change. Functional Programming offers some powerful tools, techniques and perspectives, towards achieving "soft" code. Ryan loves learning and facilitating learning in others.

      %li.workshop
        %h2
          %a{href: '#workshop4', rel: 'workshops', class: 'fancybox'} Scrum Simulation
        %p A Scrum Simulation for newbies and experienced agilists
        %p.date Sat, 8 Feb

        #workshop4.workshop.detail
          .name
            %h2 A Scrum Simulation for Newbies and Experienced Agilists
            %p Most software companies are trying some form of an agile process these days, but often people follow the mechanics without understanding the reasons behind why certain things are done.
            %p Join us for a Scrum simulation using LEGO. We will build a product that needs to ship at the end of 2 sprints. We’ll go through each of the Scrum meetings: Backlog Grooming, Sprint Planning parts 1 & 2, Sprint Review and Sprint Retro. First we’ll explain the purpose of the meeting so you understand the reason for doing it, then you’ll get to do it, re-enforcing the learning.
            %p Even if you’ve been doing Scrum for some time, this will be a great refresher of the basics and an opportunity to ask questions about some of the subtleties of Scrum.

          %h3.join
            %a{href: 'http://www.meetup.com/Rubyfuza/events/158928422/'} Join this workshop!
          .inner
            .name
              = img "../images/speakers/Karen.jpg"
              %h3 Karen Greaves
            %p Karen is an agile coach and trainer, and one half of Growing Agile. She’s worked in software her whole career as a tester, developer, and various management roles. She was fed up of always delivering late and working overtime, even considering leaving the industry when Scrum saved her. Now she helps others recover from Waterfall and tries to help people have fun at work again.
            .name
              = img "../images/speakers/Sam.jpg"
              %h3 Sam Laign
            %p Sam is the other half of Growing Agile. Her personal motto is “Be Brave” and she embodies this by never saying no to a challenge, even if it’s scary.  In fact, she used to be terrified of public speaking, now she trains teams and speaks internationally at large conferences. She also started life as a developer, but now focuses more on the human side of software and how to get people to collaborate effectively.

      %li.workshop
        %h2
          %a{href: '#workshop5', rel: 'workshops', class: 'fancybox'} Coderetreat
        %p An intensive practice event, focusing on the fundamentals of software development and design
        %p.date Sat, 8 Feb

        #workshop5.workshop.detail
          .name
            %h2 Coderetreat
            %p Coderetreat is a day-long, intensive practice event, focusing on the fundamentals of software development and design.
            %p By providing developers the opportunity to take part in focused practice, away from the pressures of 'getting things done', the coderetreat format has proven itself to be a highly effective means of skill improvement.
            %p Practicing the basic principles of modular and object-oriented design, developers can improve their ability to write code that minimizes the cost of change over time.
            %p And it's great fun at the same time!
          %h3.join
            %a{href: 'http://www.meetup.com/Rubyfuza/events/158933022/'} Join this workshop!
            &nbsp;&bull;&nbsp;
            %a{href: 'http://coderetreat.org/'} Learn more
          .inner
            Workshop facilitators to be announced.
            / .name
            /   = img "../images/speakers/Karen.jpg"
            /   %h3 Karen Greaves
            / %p Karen is an agile coach and trainer, and one half of Growing Agile. She’s worked in software her whole career as a tester, developer, and various management roles. She was fed up of always delivering late and working overtime, even considering leaving the industry when Scrum saved her. Now she helps others recover from Waterfall and tries to help people have fun at work again.
            / .name
            /   = img "../images/speakers/Sam.jpg"
            /   %h3 Sam Laign
            / %p Sam is the other half of Growing Agile. Her personal motto is “Be Brave” and she embodies this by never saying no to a challenge, even if it’s scary.  In fact, she used to be terrified of public speaking, now she trains teams and speaks internationally at large conferences. She also started life as a developer, but now focuses more on the human side of software and how to get people to collaborate effectively.
